<% include blocks/header.ejs %>
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <center><h1>Trang Quản Lý</h1></center>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="50px">ID</th>
                            <th width="150px">Video Clip</th>
                            <th>Tên Video</th>
                            <th width="200px">Người Đăng</th>
                            <th width="50px">Ẩn</th>
                            <th width="50px">Sửa</th>
                            <th width="50px">Xóa</th>
                        </tr>
                    </thead>
                    <%
                     function youtube_parser(url){
                         var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                         var match = url.match(regExp);
                         return (match&&match[7].length==11)? match[7] : false;
                     }
                     %>

                    <tbody>
                      <%  stt =0; %>
                      <% data.forEach (function (item){ %>
                        <% stt++; %>
                        <tr valign="middle">
                            <td><% stt %></td>
                            <td>
                              <iframe width="150" height="100" src="https://www.youtube.com/embed/<%= youtube_parser(item.link) %>" frameborder="0" allowfullscreen></iframe>
                            </td>
                            <td><%= item.video %></td>
                            <td><%= item.username %></td>
                            <td><a href="/admin/trang-thai/<%= item._id %>">Ẩn</a></td>
                            <td><a href="/admin/sua/<%= item._id %>">Sửa</a></td>
                            <td><a onclick ="return xacnhanxoa('Ban co chac muon xoa')" href="admin/xoa/<%= item._id %>">Xóa</a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.row -->
<% include blocks/footer.ejs %>
