<% include blocks/header.ejs %>
<!-- Page Content -->
<div class="container">

<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <%
         function youtube_parser(url){
             var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
             var match = url.match(regExp);
             return (match&&match[7].length==11)? match[7] : false;
         }
         %>

        <h1><%= data.video %></h1>

        <!-- Author -->
        <p class="lead">
            Đăng bởi : <a href=""><%= data.username %></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Đăng bài lúc : <%= data.time %> </p>

        <hr>

        <!-- Preview Image -->
        <div class="video-container">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/<%= youtube_parser(data.link) %>" frameborder="0" allowfullscreen></iframe>
        </div>

        <hr>

        <!-- Post Content -->
        <p class="lead"><%- data.intro %></p>

        <hr>

        <!-- Comment Facebook -->

        <!-- Comment Facebook -->


    </div>

                <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Liên hệ</h4>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li>Điện Thoại : 0933.649.647
                        </li>
                        <li>Email : contact.quoctuan@gmail.com
                        </li>
                        <li>Skype : online.quoctuan
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>Thông tin khóa học</h4>
            <p align="justify">Chào mừng các bạn đến với khóa học lập trình NodeJS tại QuocTuan.Info.Đây là một Project thực tế trong khóa học lập trình NodeJS tại QuocTuan.Info.Hy vọng các thể vận dụng được toàn bộ kiến thực để làm Project này.</p>
        </div>

    </div>

</div>
<!-- /.row -->
<% include blocks/footer.ejs %>
